
.container {
  width: 30%;
  margin: 20px auto;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.45);
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.45);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.45);
}

.form-control, .form-submit {
  margin: 15px auto;
  width: 80%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form-control label {
  
  font-size: 16px;
  color: #555; 
  font-weight: bold;
  margin-bottom: 2px;

}

.form-control input {
  width: 100%;
  font-size: 18px;
  border: 1px solid #bbb;
  padding-left: 5px;
  transition: all .4s;
}

.form-control input:focus {
  background: #eee;
  transform: scale(1.01);
  transition: all .2s;
}

.form-control .password-toggle-field {
  margin: 10px 0;
  font-size: 12px;
  display: flex;
  align-items: center;
  font-weight: 500;
  color: #555;
  cursor: pointer;
  transition: all .3s;
}

.form-control .password-toggle-field i {
  margin-right: 5px;
}

.form-control .password-toggle-field:hover {
  transition: all .2s;
  color: #666;
}

.form-control input, .form-submit input {
  border-radius: 2px;
  height: 40px;
  outline: 0 none;
}

.form-submit input.submit-btn {
  font-size: 15px;
  background: #457a3b;
  border: none;
  padding: 10px 30px;
  cursor: pointer;
  color: #fff;
  transition: all .2s;
}

.form-submit input.submit-btn:hover {
  transform: scale(1.019);
  transition: all .2s;
  background: #589c4b;
}

@media screen and (width < 1100px) {
  .container {
    width: 75%;
  }
}

@media screen and (width < 900px) {
  .container {
    width: 85%;
  }
}

@media screen and (width < 900px) {
  .container {
    width: 95%;
  }
}