body {
  min-height: 100vh;
}

.container {
  margin: 20px auto;
  padding: 40px 30px;
  width: 50%;
  background: #fff;
  display: flex;
  flex-direction:column;
  align-items: center;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.45);
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.45);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.45);
  border-radius: 5px;
}

table {
  width: 100%;
  margin-top: 30px;
  border-collapse: collapse;
  border: none;
}

table th {
  text-align: left;
  background: #444;
  color: #fff;
  height: 45px;
}

tr {
  height: 50px;
}

table tr:nth-child(even) {
  background: #ccc;
}

table tr:nth-child(odd) {
  background: #fff;
}

a.modify-btn {
  background: #ac8c35;
}

a.btn {
  margin: 0 5px;
  border-radius: 3px;
  text-decoration: none;
  font-size: 13px;
  border: none;
  padding: 10px;
  cursor: pointer;
  color: #fff;
  transition: all .3s;
}

a.delete-btn {
  background: #b14848;
}

a.modify-btn:hover {
  transition: all .2s;
  background: #d3ac3f;
}

a.delete-btn:hover {
  transition: all .2s;
  background: #db5353;
}

.no-users-info {
  margin: 10px 0;
}

.no-users-info p.info {
  font-size: 20px;
}

@media screen and (width < 1370px) {

  .container {
    width: 80%;
  }
  
}

@media screen and (width < 900px) {

  .container {
    width: 95%;
  }
  
}

@media screen and (width < 720px) {

  table {
    display: block;
    font-size: 14px;
    overflow-x: auto;

  }

  th, td {
    white-space: nowrap;
  }

  a.btn {
    font-size: 14px;
    padding: 5px;
  }
  
}